<!-- Example use:
<div th:replace="component/header :: header"></header>
-->


<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      lang="ru">

<body>

<div th:fragment="tabs" class="w-100">

  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;" >
    <symbol id="svg-train" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#000099" class="bi bi-truck-front" viewBox="0 0 16 16">
      <path d="M5 11a1 1 0 1 1-2 0 1 1 0 0 1 2 0Zm8 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0Zm-6-1a1 1 0 1 0 0 2h2a1 1 0 1 0 0-2H7ZM4 2a1 1 0 0 0-1 1v3.9c0 .625.562 1.092 1.17.994C5.075 7.747 6.792 7.5 8 7.5c1.208 0 2.925.247 3.83.394A1.008 1.008 0 0 0 13 6.9V3a1 1 0 0 0-1-1H4Zm0 1h8v3.9c0 .002 0 .001 0 0l-.002.004a.013.013 0 0 1-.005.002h-.004C11.088 6.761 9.299 6.5 8 6.5s-3.088.26-3.99.406h-.003a.013.013 0 0 1-.005-.002L4 6.9c0 .001 0 .002 0 0V3Z"></path>
      <path d="M1 2.5A2.5 2.5 0 0 1 3.5 0h9A2.5 2.5 0 0 1 15 2.5v9c0 .818-.393 1.544-1 2v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5V14H5v1.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-2a2.496 2.496 0 0 1-1-2v-9ZM3.5 1A1.5 1.5 0 0 0 2 2.5v9A1.5 1.5 0 0 0 3.5 13h9a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 12.5 1h-9Z"></path>
    </symbol>
    <symbol id="svg-train-express" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#990000" class="bi bi-truck-front" viewBox="0 0 16 16">
      <path d="M5 11a1 1 0 1 1-2 0 1 1 0 0 1 2 0Zm8 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0Zm-6-1a1 1 0 1 0 0 2h2a1 1 0 1 0 0-2H7ZM4 2a1 1 0 0 0-1 1v3.9c0 .625.562 1.092 1.17.994C5.075 7.747 6.792 7.5 8 7.5c1.208 0 2.925.247 3.83.394A1.008 1.008 0 0 0 13 6.9V3a1 1 0 0 0-1-1H4Zm0 1h8v3.9c0 .002 0 .001 0 0l-.002.004a.013.013 0 0 1-.005.002h-.004C11.088 6.761 9.299 6.5 8 6.5s-3.088.26-3.99.406h-.003a.013.013 0 0 1-.005-.002L4 6.9c0 .001 0 .002 0 0V3Z"></path>
      <path d="M1 2.5A2.5 2.5 0 0 1 3.5 0h9A2.5 2.5 0 0 1 15 2.5v9c0 .818-.393 1.544-1 2v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5V14H5v1.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-2a2.496 2.496 0 0 1-1-2v-9ZM3.5 1A1.5 1.5 0 0 0 2 2.5v9A1.5 1.5 0 0 0 3.5 13h9a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 12.5 1h-9Z"></path>
    </symbol>
  </svg>

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Rails"><use xlink:href="#svg-train"></use></svg>
        Trains</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Rails"><use xlink:href="#svg-train-express"></use></svg>
        Express Trains</button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
      <div th:replace="components/schedule::trains-tab"></div></div>
    <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
      <div th:replace="components/schedule::trains-express-tab"></div></div>
  </div>

</div>


<div th:fragment="trains-tab">
  <table class="table table-striped table-hover table-bordered">
    <thead th:replace="components/schedule::trains-thead"></thead>
    <tbody>
    <!--/*@thymesVar id="train" type="limenitiz.study.app.model.Train"*/-->
      <tr th:each="train: ${trains}">
        <td th:replace="components/schedule::trains-tbody-tr"></td>
      </tr>
    </tbody>
    <tfoot th:replace="components/schedule::trains-tfoot"></tfoot>
  </table>
</div>


<div th:fragment="trains-express-tab">
  <table class="table table-striped table-hover table-bordered">
    <thead th:replace="components/schedule::trains-thead"></thead>
    <tbody>
    <!--/*@thymesVar id="train" type="limenitiz.study.app.model.TrainExpress"*/-->
    <tr th:each="train: ${trainsExpress}">
      <td th:replace="components/schedule::trains-tbody-tr"></td>
    </tr>
    </tbody>
    <tfoot th:replace="components/schedule::trains-tfoot"></tfoot>
  </table>
</div>


<table>
  <thead th:fragment="trains-thead">
  <tr>
    <th class="text-center" scope="col">Number</th>
    <th class="text-center" scope="col" colspan="2">Departure</th>
    <th class="text-center" scope="col" colspan="2">Arrival</th>
    <th class="text-center" scope="col">Places</th>
    <th class="text-center" scope="col">Price</th>
  </tr>
  <tr>
    <th class="text-center" scope="col"></th>
    <th class="text-center" scope="col">City</th>
    <th class="text-center" scope="col">Time</th>
    <th class="text-center" scope="col">City</th>
    <th class="text-center" scope="col">Time</th>
    <th class="text-center" scope="col"></th>
    <th class="text-center" scope="col"></th>
    <th class="text-center" scope="col"></th>
  </tr>
  </thead>
  <tbody>
    <tr th:fragment="trains-tbody-tr">
      <!--/*@thymesVar id="train" type="limenitiz.study.app.model.Train"*/-->
      <td th:text="${train.id}" hidden="hidden"/>
      <td>
        <span class="" th:text="${train.number}"/>
      </td>
      <td>
        <span class="" th:text="${train.departureCity}"/>
      </td>
      <td>
        <span class="" th:text="${train.getDepartureTime()}"/>
      </td>
      <td>
        <span class="" th:text="${train.arrivalCity}"/>
      </td>
      <td>
        <span class="" th:text="${train.getArrivalTime()}"/>
      </td>
      <td>
        <span class="" th:text="${train.availablePlacesCount() + '/' + train.placesCount()}"/>
      </td>
      <td>
        <span class="" th:text="${train.minPlacePrice() + ' ~ ' + train.maxPlacePrice()}"/>
      </td>
      <td>
        <button class="btn badge bg-secondary" data-bs-toggle="collapse" th:href="${'#trains-collapse' + train.id}" role="button" aria-expanded="false" th:aria-controls="${'trains-collapse' + train.id}">
          ▼
        </button>
      </td>
    </tr>
    <tr th:fragment="trains-tbody-tr">
      <td colspan="8">
        <div class="collapse" th:id="${'trains-collapse' + train.id}">
          <div class="card card-body">
            <div th:replace="components/schedule::places-content"></div>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
  <tfoot th:fragment="trains-tfoot">
  <tr><td>
    <!-- add train-->
    <span class="badge text-bg-success">
      <span type="button" class="btn badge"> + </span>
    </span>
  </td></tr>
  </tfoot>
</table>


<div th:fragment="places-content">
  <table class="table table-striped table-hover table-bordered">
    <thead th:replace="components/schedule::places-thead"></thead>
    <tbody>
    <!--/*@thymesVar id="train" type="limenitiz.study.app.model.Train"*/-->
    <!--/*@thymesVar id="place" type="limenitiz.study.app.model.Place"*/-->
    <tr th:each="place: ${train.getPlaces()}">
      <td th:replace="components/schedule::places-tbody-tr"></td>
    </tr>
    </tbody>
    <tfoot th:replace="components/schedule::places-tfoot"></tfoot>
  </table>
</div>


<table>
  <thead th:fragment="places-thead">
  <tr>
    <th class="text-center" scope="col">Number</th>
    <th class="text-center" scope="col">Class</th>
    <th class="text-center" scope="col">Price</th>
    <th class="text-center" scope="col">Passenger</th>
  </tr>
  </thead>
  <tbody>
  <tr th:fragment="places-tbody-tr">
    <!--/*@thymesVar id="place" type="limenitiz.study.app.model.Place"*/-->
    <td th:text="${place.id}" hidden="hidden"/>
    <td>
      <span class="" th:text="${place.number}"/>
    </td>
    <td>
      <span class="" th:text="${place.placeClass.getVal()}"/>
    </td>
    <td>
      <span class="" th:text="${place.getPriceStr()}"/>
    </td>
    <td th:switch="${place.getFullName()}">
      <span th:case="''" class="">
      </span>
      <span th:case="*" class="" th:text="${place.getFullName()}"/>
    </td>
    <td>
      <button class="btn badge bg-secondary" data-bs-toggle="collapse" th:href="${'#places-collapse' + place.id}" role="button" aria-expanded="false" th:aria-controls="${'places-collapse' + place.id}">
        ▼
      </button>
    </td>
  </tr>
  <tr th:fragment="places-tbody-tr">
    <td colspan="8">
      <!--/*@thymesVar id="place" type="limenitiz.study.app.model.Place"*/-->
      <div class="collapse" th:id="${'places-collapse' + place.id}">
        <div th:switch="${place.getFullName()}" class="card card-body">
          <div th:case="''">
            <div type="button" class="btn badge bg-success"> + </div>
          </div>
          <div th:case="*">
            <div th:replace="components/schedule::passenger-content"></div>
          </div>
        </div>
      </div>
    </td>
  </tr>
  </tbody>
  <tfoot th:fragment="places-tfoot">
  <tr><td>
    <!-- add place-->
    <span class="badge text-bg-success">
      <span type="button" class="btn badge"> + </span>
    </span>
  </td></tr>
  </tfoot>
</table>


<div th:fragment="passenger-content">
  <table class="table table-striped table-hover table-bordered">
    <thead th:replace="components/schedule::passenger-thead"></thead>
    <tbody>
    <!--/*@thymesVar id="place" type="limenitiz.study.app.model.Place"*/-->
    <!--/*@thymesVar id="passenger" type="limenitiz.study.app.model.Passenger"*/-->
    <tr th:each="passenger: ${place.getPassenger()}">
      <td th:replace="components/schedule::passenger-tbody-tr"></td>
    </tr>
    </tbody>
    <tfoot th:replace="components/schedule::passenger-tfoot"></tfoot>
  </table>
</div>


<table>
  <thead th:fragment="passenger-thead">
  <tr>
    <th class="text-center" scope="col">FirstName</th>
    <th class="text-center" scope="col">SecondName</th>
    <th class="text-center" scope="col">Gender</th>
  </tr>
  </thead>
  <tbody>
  <tr th:fragment="passenger-tbody-tr">
    <!--/*@thymesVar id="passenger" type="limenitiz.study.app.model.Passenger"*/-->
    <td th:text="${passenger.id}" hidden="hidden"/>
    <td>
      <span class="" th:text="${passenger.firstName}"/>
    </td>
    <td>
      <span class="" th:text="${passenger.secondName}"/>
    </td>
    <td>
      <span class="" th:text="${passenger.gender}"/>
    </td>
  </tr>
  </tbody>
  <tfoot th:fragment="passenger-tfoot">
  <tr><td>
  </td></tr>
  </tfoot>
</table>


</body>
</html>