<!-- Example use:
<div th:replace="component/header :: header"></header>
-->


<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      lang="ru">

<body>


<div th:fragment="trains-content" class="w-100">

  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;" >
    <symbol id="svg-train" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#0000CC" class="bi bi-truck-front" viewBox="0 0 16 16">
      <path d="M5 11a1 1 0 1 1-2 0 1 1 0 0 1 2 0Zm8 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0Zm-6-1a1 1 0 1 0 0 2h2a1 1 0 1 0 0-2H7ZM4 2a1 1 0 0 0-1 1v3.9c0 .625.562 1.092 1.17.994C5.075 7.747 6.792 7.5 8 7.5c1.208 0 2.925.247 3.83.394A1.008 1.008 0 0 0 13 6.9V3a1 1 0 0 0-1-1H4Zm0 1h8v3.9c0 .002 0 .001 0 0l-.002.004a.013.013 0 0 1-.005.002h-.004C11.088 6.761 9.299 6.5 8 6.5s-3.088.26-3.99.406h-.003a.013.013 0 0 1-.005-.002L4 6.9c0 .001 0 .002 0 0V3Z"></path>
      <path d="M1 2.5A2.5 2.5 0 0 1 3.5 0h9A2.5 2.5 0 0 1 15 2.5v9c0 .818-.393 1.544-1 2v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5V14H5v1.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-2a2.496 2.496 0 0 1-1-2v-9ZM3.5 1A1.5 1.5 0 0 0 2 2.5v9A1.5 1.5 0 0 0 3.5 13h9a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 12.5 1h-9Z"></path>
    </symbol>
    <symbol id="svg-train-express" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#CC0000" class="bi bi-truck-front" viewBox="0 0 16 16">
      <path d="M5 11a1 1 0 1 1-2 0 1 1 0 0 1 2 0Zm8 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0Zm-6-1a1 1 0 1 0 0 2h2a1 1 0 1 0 0-2H7ZM4 2a1 1 0 0 0-1 1v3.9c0 .625.562 1.092 1.17.994C5.075 7.747 6.792 7.5 8 7.5c1.208 0 2.925.247 3.83.394A1.008 1.008 0 0 0 13 6.9V3a1 1 0 0 0-1-1H4Zm0 1h8v3.9c0 .002 0 .001 0 0l-.002.004a.013.013 0 0 1-.005.002h-.004C11.088 6.761 9.299 6.5 8 6.5s-3.088.26-3.99.406h-.003a.013.013 0 0 1-.005-.002L4 6.9c0 .001 0 .002 0 0V3Z"></path>
      <path d="M1 2.5A2.5 2.5 0 0 1 3.5 0h9A2.5 2.5 0 0 1 15 2.5v9c0 .818-.393 1.544-1 2v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5V14H5v1.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-2a2.496 2.496 0 0 1-1-2v-9ZM3.5 1A1.5 1.5 0 0 0 2 2.5v9A1.5 1.5 0 0 0 3.5 13h9a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 12.5 1h-9Z"></path>
    </symbol>
    <symbol id="svg-arrow" xmlns="http://www.w3.org/2000/svg" stroke-width="1" stroke="#CC0000" width="45" height="10" viewBox="auto">
      <path d="M 3.6854329109191895 3.8467204570770264 L 42.056278228759766 3.8467204570770264"
            transform="matrix(1, 0, 0, 1, 0, 0)"></path>
      <path d="M 37.48333740234375 1.623812198638916 L 42.0562744140625 3.8467202186584473"
            transform="matrix(1, 0, 0, 1, 0, 0)"></path>
      <path d="M 37.59562301635742 6.30233097076416 L 42.056270599365234 3.846719741821289"
            transform="matrix(1, 0, 0, 1, 0, 0)"></path>
      <path d="M 1.128919243812561 0 C 1.128919243812561 0.6234848821481888 0.6234848821481888 1.128919243812561 0 1.128919243812561 C -0.6234848821481888 1.128919243812561 -1.128919243812561 0.6234848821481888 -1.128919243812561 0 C -1.128919243812561 -0.6234848821481888 -0.6234848821481888 -1.1289192438125608 0 -1.128919243812561 C 0.6234848821481888 -1.128919243812561 1.128919243812561 -0.6234848821481888 1.128919243812561 0 Z"
            transform="matrix(1, 0, 0, 1, 4.28164, 3.85014)"></path>
    </symbol>
  </svg>

  <div class="d-flex flex-column justify-content-between align-items-center">
    <div class="d-flex flex-column list-group list-group-horizontal" th:replace="components/trains::trains-search"></div>
    <div class="d-flex flex-column list-group list-group-horizontal" th:replace="components/util::divider"></div>
    <div class="d-flex flex-column list-group list-group-horizontal" th:replace="components/trains::trains-list"></div>
  </div>

</div>


<!--/*@thymesVar id="trainExample" type="limenitiz.study.app.model.TrainExample"*/-->
<div th:fragment="trains-search">
  <form class="d-flex justify-content-between align-items-center"
        th:action="@{/trains}"
        th:object="${trainExample}"
        th:method="post">
    <div class="form-floating p-1" style="width: 250px;">
      <input class="form-control" th:field="*{departureCity}" type="text" id="inputCityFrom" >
      <label class="" style="" for="inputCityFrom">Departure City</label>
    </div>
    <div class="form-floating p-1" style="width: 250px;">
      <input class="form-control" th:field="*{arrivalCity}" type="text" id="inputCityTo" >
      <label class="" style="" for="inputCityTo">Arrival City</label>
    </div>
    <div class="form-floating p-1" style="width: 250px;">
      <input class="form-control" th:field="*{departureTime}" type="datetime-local" id="inputTimeTo">
      <label class="" for="inputTimeTo">Departure Time</label>
    </div>
    <div class="form-floating p-1" style="width: 250px;">
      <input class="form-control" th:field="*{arrivalTime}" type="datetime-local" id="inputTimeFrom">
      <label class="" for="inputTimeFrom">Arrival Time</label>
    </div>
    <div class="form-floating p-1">
      <button type="submit" class="btn border border-success bg-success-subtle">Search</button>
    </div>
  </form>
</div>


<div th:fragment="trains-list">
  <ul class="list-group w-100">
    <!--/*@thymesVar id="train" type="limenitiz.study.app.model.AbstractTrain"*/-->
    <li class="list-group-item" th:each="train: ${trains}">
      <ul th:replace="components/trains::train-card"></ul>
    </li>
  </ul>
</div>


<ul th:fragment="train-card" class="list-group">
  <li class="list-group-item">
    <div id="main-row" class="row">
      <div th:replace="components/trains::train-info"></div>
      <div th:replace="components/trains::places-info"></div>
    </div>
  </li>
</ul>

<!--/*@thymesVar id="train" type="limenitiz.study.app.model.Train"*/-->
<div th:fragment="train-info" id="train-info" class="col-auto border-3 border-end border-light-subtle">
  <div th:switch="${train.getClassName()}" id="train-summary" class="text-start">
    <div th:case="Train">
      <span th:replace="components/trains::train-summary"></span>
    </div>
    <div th:case="TrainExpress">
      <span th:replace="components/trains::train-express-summary"></span>
    </div>
  </div>
  <div id="train-info-row" class="row">
    <ul id="train-departure-info" class="list-group col-auto pe-0">
      <li class="list-group-item p-1">
        <span th:text="${train.getDepartureTime()}">D time</span>
      </li>
      <li class="list-group-item p-1">
        <span th:text="${train.getDepartureCity()}">D city</span>
      </li>
    </ul>
    <div class="d-flex justify-content-center align-items-center col-auto mb-2 ps-0 pe-0">
      <div class="align-self-end">
        <svg width="45" height="10" viewBox="auto"><use xlink:href="#svg-arrow"></use></svg>
      </div>
    </div>
    <ul id="train-arrival-info" class="list-group col-auto ps-0">
      <li class="list-group-item p-1"><span
              th:text="${train.getArrivalTime()}">A time</span></li>
      <li class="list-group-item p-1"><span
              th:text="${train.getArrivalCity()}">A city</span></li>
    </ul>
  </div>
</div>


<span th:fragment="train-summary" class="icon-link">
      <svg class="bi" aria-hidden="true"><use xlink:href="#svg-train"></use></svg>
      <span th:text="${train.getNumber()}"></span></span>

<span th:fragment="train-express-summary" class="icon-link">
      <svg class="bi" aria-hidden="true"><use xlink:href="#svg-train-express"></use></svg>
      <span th:text="${train.getNumber()}"></span></span>


<div th:fragment="places-info" id="places-info" class="col-auto">
  <div class="row">
    <div class="col-auto m-2">
      <span class="row mb-3">Compartment</span>
      <span class="row mb-3">Reserved seat</span>
    </div>
    <div class="col-auto m-2">
      <span class="row mb-3" th:text="${train.availablePlacesCount(1) + '/' + train.placesCount(1)}">count</span>
      <span class="row mb-3" th:text="${train.availablePlacesCount(0) + '/' + train.placesCount(0)}">count</span>
    </div>
    <div class="col-auto m-2 text-danger">
      <span class="row mb-3" th:text="${'from ' + train.minPlacePrice(1)}"></span>
      <span class="row mb-3" th:text="${'from ' + train.minPlacePrice(0)}"></span>
    </div>
    <div class="col-auto m-2">
      <span class="row mb-3">
        <!--/*@thymesVar id="train" type="limenitiz.study.app.model.AbstractTrain"*/-->
        <a th:href="@{/places/Compartment/{train_class}/{train_id}(train_id=${train.getId()}, train_class=${train.getClassName()})}" role="button" class="btn p-0 border rounded border-success bg-success-subtle ps-1 pe-1"> Buy </a>
      </span>
      <span class="row mb-3">
        <!--/*@thymesVar id="train" type="limenitiz.study.app.model.AbstractTrain"*/-->
        <a th:href="@{/places/ReservedSeat/{train_class}/{train_id}(train_id=${train.getId()}, train_class=${train.getClassName()})}" role="button" class="btn p-0 border rounded border-success bg-success-subtle ps-1 pe-1"> Buy </a>
      </span>
    </div>
  </div>
</div>


</body>
</html>